<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<h1>Список книг</h1>

<div class="top-actions">
    <a th:href="@{/books/new}" class="btn">Добавить книгу</a>
    <input type="text" id="searchInput" class="search-input" placeholder="Поиск">
</div>

<table class="data-table" id="books-table">
    <thead>
    <tr>
        <th></th>
        <th>Название</th>
        <th>Автор</th>
        <th>ISBN</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="books-body">
    <tr th:each="book : ${books}">
        <td><a th:href="@{/books/edit/{id}(id=${book.id})}" title="Редактировать" class="icon-link">🔃</a></td>
        <td th:text="${book.title}">Название книги</td>
        <td th:text="${book.author}">Автор</td>
        <td th:text="${book.isbn}">ISBN</td>
        <td><a href="#" class="delete-link" data-id="${book.id}" title="Удалить">❌</a></td>
    </tr>
    </tbody>
</table>

<div class="center" th:if="${hasMore}">
    <button id="loadMoreBtn" class="btn">Показать ещё</button>
</div>

<div class="bottom-nav">
    <a th:href="@{/borrows}" class="btn">К списку взятых книг</a>
    <a th:href="@{/clients}" class="btn">К списку клиентов</a>
</div>

<script th:src="@{/js/books.js}" defer></script>

</body>
</html>
